In [235]:
# Dependencies and Set up
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [236]:
# Create a browser instance using splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/karlaflores/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

# NASA Mars News

In [233]:
# Open browser to NASA Mars News Site
url = 'https://redplanetscience.com'
browser.visit(url)

In [200]:
# HTML Object
html = browser.html

# Parse HTML with Beautiful Soup
news_soup = BeautifulSoup(html, 'html.parser')

In [175]:
# Retrieve the latest element that contains news title
title = news_soup.select_one('div.list_text')
title = title.find('div', class_='content_title').get_text()

In [176]:
# Retrieve the latest element that contains news paragraph
paragraph = news_soup.select_one('div.list_text')
paragraph = paragraph.find('div', class_='article_teaser_body').get_text()

In [177]:
# Print results
print(f'News Title: {title}')
print(f'News Paragraph: {paragraph}')

News Title: The MarCO Mission Comes to an End
News Paragraph: The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.

In [234]:
# Exit browser
browser.quit()

# JPL Mars Space Images - Featured Image

In [237]:
# Visit Space Images site
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [238]:
# Set up soup to parse html
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [239]:
# Home splinter click the 'Full Image' button
f_image = browser.links.find_by_partial_text('FULL IMAGE').click()

# Set up soup to parse html
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [240]:
# Retrieving image
featured_image_url = url + soup.find('img',class_='fancybox-image')['src']
print(f"Featured Image URL: {featured_image_url}")

Featured Image URL: https://spaceimages-mars.comimage/featured/mars3.jpg

In [109]:
# # Exit browser
# browser.quit()

# Mars Facts

In [241]:
# Visit Galaxy Facts site
url = 'https://galaxyfacts-mars.com'
browser.visit(url)

In [242]:
# Set up soup to parse html
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [245]:
# Using Pandas to scrape the table containing facts about the planet
mars_fact = soup.find('table', class_ ='table table-striped')
mars_fact = pd.read_html(str(mars_fact))[0]
mars_fact.rename(columns={0: 'Characteristics', 1: 'Facts'},errors='raise', inplace=True)
mars_fact = mars_fact.reset_index(drop = True)
mars_fact = mars_fact.set_index('col')
mars_fact

        Characteristics                          Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers