In [264]:
# Dependencies and Set up
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [265]:
# Create a browser instance using splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/karlaflores/.wdm/drivers/chromedriver/mac64/91.0.4472.101/chromedriver] found in cache

# NASA Mars News

In [233]:
# Open browser to NASA Mars News Site
url = 'https://redplanetscience.com'
browser.visit(url)

In [200]:
# HTML Object
html = browser.html

# Parse HTML with Beautiful Soup
news_soup = BeautifulSoup(html, 'html.parser')

In [175]:
# Retrieve the latest element that contains news title
title = news_soup.select_one('div.list_text')
title = title.find('div', class_='content_title').get_text()

In [176]:
# Retrieve the latest element that contains news paragraph
paragraph = news_soup.select_one('div.list_text')
paragraph = paragraph.find('div', class_='article_teaser_body').get_text()

In [177]:
# Print results
print(f'News Title: {title}')
print(f'News Paragraph: {paragraph}')

News Title: The MarCO Mission Comes to an End
News Paragraph: The pair of briefcase-sized satellites made history when they sailed past Mars in 2019.

In [234]:
# Exit browser
browser.quit()

# JPL Mars Space Images - Featured Image

In [237]:
# Visit Space Images site
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [238]:
# Set up soup to parse html
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [239]:
# Home splinter click the 'Full Image' button
f_image = browser.links.find_by_partial_text('FULL IMAGE').click()

# Set up soup to parse html
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [240]:
# Retrieving image
featured_image_url = url + soup.find('img',class_='fancybox-image')['src']
print(f"Featured Image URL: {featured_image_url}")

Featured Image URL: https://spaceimages-mars.comimage/featured/mars3.jpg

In [109]:
# # Exit browser
# browser.quit()

# Mars Facts

In [241]:
# Visit Galaxy Facts site
url = 'https://galaxyfacts-mars.com'
browser.visit(url)

In [242]:
# Set up soup to parse html
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [249]:
# Using Pandas to scrape the table containing facts about the planet
mars_fact = soup.find('table', class_ ='table table-striped')

# Converting the data to a HTML table string
mars_fact

<table class="table table-striped">
<tbody>
<tr>
<th scope="row">Equatorial Diameter:</th>
<td>6,792 km</td>
</tr>
<tr>
<th scope="row">Polar Diameter:</th>
<td>6,752 km</td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td>	6.39 × 10^23 kg (0.11 Earths)</td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td>	2 ( <span class="red">Phobos </span> &amp; <span class="red"> Deimos </span>)</td>
</tr>
<tr>
<th scope="row">Orbit Distance:</th>
<td>	227,943,824 km (1.38 AU)</td>
</tr>
<tr>
<th scope="row">Orbit Period:</th>
<td>	687 days (1.9 years)</td>
</tr>
<tr>
<th scope="row">Surface Temperature:</th>
<td>	-87 to -5 °C</td>
</tr>
<tr>
<th scope="row">First Record:</th>
<td>	2nd millennium BC</td>
</tr>
<tr>
<th scope="row">Recorded By:</th>
<td>	Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [250]:
# Converting html to DataFrame
mars_fact = pd.read_html(str(mars_fact))[0]
mars_fact.rename(columns={0: 'Characteristics', 1: 'Facts'},errors='raise', inplace=True)
mars_fact = mars_fact.set_index('Characteristics')
mars_fact

                                              Facts
Characteristics
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [251]:
# Converting the data to a HTML table string
mars_fact_html = mars_fact.to_html()
print(mars_fact_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Facts</th>
    </tr>
    <tr>
      <th>Characteristics</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [ ]:
# # Exit browser
# browser.quit()

# Mars Hemispheres

In [266]:
# Visit Mars Hemispheres site
url = 'https://marshemispheres.com'
browser.visit(url)

In [267]:
# Set up soup to parse html
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [268]:
# Find Hemisphere name
h_name = soup.find_all('h3')[0].text
h_name

# Home splinter click the Hemisphere name button
h_name = browser.links.find_by_partial_text(h_name).click()

In [271]:
# Set up soup to parse html
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [272]:
# Image address
h_images = url + '/' + soup.find('li').a['href']
h_images

'https://marshemispheres.com/images/full.jpg'

In [274]:
# Exit browser
browser.quit()

In [ ]:
# Dictionary with the image url string and the hemisphere title to a list.